data_location: lastfm_subset/**/**/**/*.json
data_path: lastfm_subset/
uniq_map_file: uniq_subset.p
runiq_map_file: runiq_subset.p
pickle_dir: pickle_subset/
hist_path: mde_mse_hist_subset.pdf
min_elems: 100
